affine==2.3.0
altair==3.2.0
argh==0.26.2
astor==0.8.0
attrs==19.3.0
base58==1.0.3
blinker==1.4
boto3==1.10.0
botocore==1.13.0
certifi==2019.9.11
chardet==3.0.4
Click==7.0
click-plugins==1.1.1
cligj==0.5.0
cycler==0.10.0
decorator==4.4.0
docutils==0.15.2
earthpy==0.7.4
entrypoints==0.3
enum-compat==0.0.3
Fiona==1.8.9.post2
flake8==3.7.7
future==0.18.1
geographiclib==1.50
geopandas==0.6.1
geopy==1.20.0
idna==2.8
imageio==2.6.1
importlib-metadata==0.23
Jinja2==2.10.3
jmespath==0.9.4
jsonschema==3.1.1
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
more-itertools==7.2.0
munch==2.3.2
networkx==2.4
numpy==1.17.3
pandas==0.25.2
pathtools==0.1.2
Pillow==6.2.1
protobuf==3.10.0
pycodestyle==2.5.0
pyflakes==2.1.1
pyparsing==2.4.2
pyproj==2.4.0
pyrsistent==0.15.4
pyshp==2.1.0
python-dateutil==2.8.0
pytz==2019.3
PyWavelets==1.1.1
PyYAML==5.1.2
rasterio==1.1.0
requests==2.22.0
Rtree==0.8.3
s3transfer==0.2.1
scikit-image==0.16.2
scipy==1.3.1
Shapely==1.6.4.post2
six==1.12.0
snuggs==1.4.7
streamlit==0.48.1
toml==0.10.0
toolz==0.10.0
tornado==5.1.1
tqdm==4.36.1
tzlocal==2.0.0
urllib3==1.25.8
validators==0.14.0
watchdog==0.9.0
zipp==0.6.0
